$bc-1: #E2E6E7;
$bc-2: #C89210;
$bc-3:#7BC200;
$bc-4:#F55C43;
$bc-5:#47B4F6;
$bc-6:#8781BD;
$color-0: #2C3E50;
$color-2:#FFC12D;
$color-2-2: #A47503;
$color-3:#CFD2D3;
$color-4:#558502;
$color-5:#A7EC2F;
$color-6:#FEB1A4;
$color-6-2:#D52E13;
$color-7:#85EBFA;
$color-7-2:#0787D4;
$color-8:#AACDF6;
$color-8-2:#5B568E;
$ff:'fontawesome';

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}


.menu{
    padding-top: 50px;
    width: 1171px;
    margin: auto;
    display: grid;
    grid-template-columns: 570px 570px;
}



.alert{
    border: 1px solid  $bc-1;
    border-radius: 10px;   
    position: relative;
    display: flex;
    padding: 34px 92px 34px 48px;
    margin-left: 26px;
    margin-bottom: 31px;

    &:nth-child(odd){
        margin-left: 0;
    }

    &:nth-child(even){
        margin-right: -30px;
    }

    a::after{
        content: "\f00d";
        font-family: $ff;
        color: $bc-1;
        font-size: 14px;
        position: absolute;
        line-height: 24px;
        top: 7px;
        right: 18px;
    }  

    &.solid{
        background-color: $color-2;
        a::after{
            content: "\f00d";
            font-family: $ff;
            color: $color-2-2;
            font-size: 14px;
            position: absolute;
            line-height: 24px;
            top: 7px;
            right: 18px;
        }        
    }

    
    &::before{
        content: '\f12a';
        font-family: $ff;
        background-color: $color-2;
        border: 8px solid $bc-2;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: $color-2-2;
        font-size: 24px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 28px;
        margin-top: 7px;


    }

    div{
    
        h3{
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 900;
            color: $color-0;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 1.35px;
            
            
        }
        p{
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 400;
            color: $color-0;
            line-height: 24px;
            padding-top: 5px;
        }
    }
    a::after{
        content: "\f00d";
        font-family: $ff;
        color: $color-2-2;
        font-size: 14px;
        position: absolute;
        line-height: 24px;
        top: 7px;
        right: 18px;
    }
    &.done{
        &:before{
            content: '\f00c';
            color: $color-4;
            background-color: $color-5; 
            border-color: $bc-3;
        }

        &.solid{
            background-color: $color-5;
            a::after{
                color: $color-4;
            }
        }

        &:before{
            content: '\f00c';
            color: $color-4;
            background-color: $color-5; 
            border-color: $bc-3;
        }

    }    
    &.cancel{

        &:before{
            content: '\f00d';
            color: $color-6-2;
            background-color: $color-6; 
            border-color: $bc-4;
        }        
        &.solid{
            background-color: $color-6; 
            a::after{
            color: $color-6-2;
            }        
        }

    } 
    &.flesh{

        &:before{
            content: '\f0e7';
            color: $color-7-2;
            background-color: $color-7; 
            border-color: $bc-5;
        }

        &.solid{
            background-color: $color-7;  
            a::after{
            color: $color-7-2;
            }                   
        }


    } 
    &.information{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-right: -30px;
        &:before{
            content: '\f129';
            color: $color-8-2;
            background-color: $color-8; 
            flex-shrink: 0;
            border-color: $bc-6;
        }
        &:before{
            content: '\f129';
            color: $color-8-2;
            background-color: $color-8; 
            border-color: $bc-6;
        }

        &.solid{
            background-color: $color-8;
            a::after{
            color: $color-8-2;
            }        
        }        


    }

}    

